#portfolio-summary-bar {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
}

#portfolio-charts-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;

  > div {
    overflow: hidden;
    min-width: 0;
  }
}

section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#filterbar {
  display: flex;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  #portfolio-summary-bar {
    grid-template-columns: repeat(2, 1fr);
  }
  #portfolio-charts-row {
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  #portfolio-summary-bar {
    grid-template-columns: repeat(4, 1fr);
  }
}
