<section>
  <div id="portfolio-summary-bar">
    <app-stat-card></app-stat-card>
    <app-stat-card></app-stat-card>
    <app-stat-card></app-stat-card>
    <app-stat-card></app-stat-card>
  </div>
  <div id="portfolio-charts-row">
    <div><app-line-chart></app-line-chart></div>
    <div><app-pie-chart></app-pie-chart></div>
  </div>
  <div id="filterbar">
    <app-dropdown
      name="sector"
      [isStacked]="isFilterStacked"
      (selectionChanged)="onSectorChange($event)"
    ></app-dropdown>
    <app-dropdown
      name="daily"
      [isStacked]="isFilterStacked"
      (selectionChanged)="onDailyChange($event)"
    ></app-dropdown>
  </div>
  <app-data-table [data]="tableData()"></app-data-table>
</section>
