<section>
  <div id="portfolio-summary-bar">
    <app-stat-card [value]="totalValue()" [title]="'Total Value'"></app-stat-card>
    <app-stat-card [value]="totalGain()" [title]="'Total Gain'"></app-stat-card>
    <app-stat-card [value]="positions()" [title]="'Positions'"></app-stat-card>
    <app-stat-card
      [value]="topPerformer() ? topPerformer()!.symbol + ' ' + topPerformer()!.gain : 0"
      [title]="'Top Performer'"
    ></app-stat-card>
  </div>
  <div id="portfolio-charts-row">
    <div><app-line-chart></app-line-chart></div>
    <div><app-pie-chart [data]="sectorAllocation()" title="Sector Allocation"></app-pie-chart></div>
  </div>
  <div id="filterbar">
    <div>
      <app-dropdown
        name="sector"
        [isStacked]="isFilterStacked"
        (selectionChanged)="onSectorChange($event)"
      ></app-dropdown>
      <app-dropdown
        name="daily"
        [isStacked]="isFilterStacked"
        (selectionChanged)="onDailyChange($event)"
      ></app-dropdown>
      <app-date-range (rangeChanged)="onDateRangeChange($event)" [isStacked]="false" />
    </div>
    <div>
      <app-button label="Apply" variant="primary" (clicked)="onSave()"></app-button>
      <app-button label="Reset" variant="secondary" (clicked)="onReset()"></app-button>
    </div>
  </div>
  <app-data-table [data]="tableData()"></app-data-table>
</section>
