.label-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.stacked {
  flex-direction: column;
}

select {
  border-radius: 3px;
  border: 2px solid black;
  padding: 3px 12px;
  letter-spacing: 1px;
}
select,
option {
  cursor: pointer;
}
